<script type="application/ld+json" nonce="{{ g.csp_nonce }}">{{ {"@context":"https://schema.org","@type":"CollectionPage","name":page_title,"description":meta_description,"url":site_url + request.path,"dateModified":content_updated,"isPartOf":{"@id":site_url + "#website"}}|tojson }}</script>
<script type="application/ld+json" nonce="{{ g.csp_nonce }}">
{"@context":"https://schema.org","@type":"ItemList","name":{{ page_title|tojson }},"numberOfItems":{{ directory_items|length }},"itemListElement":[{% for item in directory_items %}{"@type":"ListItem","position":{{ loop.index }},"name":{{ item.name|tojson }},"url":{{ (site_url + item.url)|tojson }}}{% if not loop.last %},{% endif %}{% endfor %}]}
</script>
<script type="application/ld+json" nonce="{{ g.csp_nonce }}">
{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":{{ (site_url + url_for('main.home'))|tojson }}},{"@type":"ListItem","position":2,"name":"All tools","item":{{ (site_url + url_for('tool_directory.index'))|tojson }}}{% if active_group %},{"@type":"ListItem","position":3,"name":{{ active_group.name|tojson }},"item":{{ (site_url + request.path)|tojson }}}{% endif %}]}
</script>
